{% extends 'base.html' %} {% block content %}
<div class="container-fluid my-3">
  <h1 class="text-center">Appointments</h1>
  <div class="row my-3 text-center">
    <div class="col-sm m-3 m-md-0">
      <button class="btn btn-primary getAppointments">
        Retrieve appointments from WCOnline
      </button>
    </div>
    <div class="col-sm m-3 m-md-0">
      <button class="btn btn-primary addAllEvents">Add all appointments</button>
    </div>
  </div>

  <div class="row my-3 text-center">
    <div class="col-sm m-3 m-md-0">
      <a
        class="btn btn-primary"
        href="https://mohawk2.mywconline.com/"
        target="_blank"
        >Go to WCOnline</a
      >
    </div>

    <div class="col-sm m-3 m-md-0 d-none d-md-block">
      <a
        class="btn btn-primary"
        href="https://mohawkcollege.zoom.us/j/98011320876?pwd=bjA5UFpWZjR0UUwwejA1NC9ZUXZMZz09"
        target="_blank"
        id="dropInButton"
        >Open Drop-In Zoom</a
      >
    </div>

    <div class="col-sm m-3 m-md-0 d-none d-md-block">
      <button
        class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#missingText"
        aria-expanded="false"
        aria-controls="missingText"
      >
        Toggle no-show text
      </button>
    </div>
  </div>

  <div class="row collapse my-3" id="missingText">
    <div class="col">
      <div class="card card-body">
        It is now 15 minutes after the start of our appointment. Sorry you
        couldn’t make it. If this is your first no show, please feel free to
        book another session with me or another LSC tutor through our online
        portal. Have a great day!
      </div>
    </div>
  </div>

  <div class="row text-center collapse my-3" id="progressRow">
    <div class="col">
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 0%"
        >
          0%
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <table
        class="table table-striped table-bordered table-responsive"
        id="appointments"
        style="width: 100%"
      >
        <thead class="text-center">
          <tr>
            <th>Sort</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Name</th>
            <th>Course</th>
            <th>Comments</th>
            <th>ESL</th>
            <th>Details</th>
            <th>Add to Calendar</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<link
  href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/v/bs4/dt-1.10.22/r-2.2.6/datatables.min.css"
/>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/v/bs4/dt-1.10.22/r-2.2.6/datatables.min.js"
></script>
{% endblock %}
